*{
  margin:0;
  padding: 0;
  font-family:'Exo 2',Arial;
}

::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
}

body{
  background-color: black;
  color: white;
}

#logo{
  padding-top: 5%;
  width:100%;
  padding-bottom: 2%;
  background: linear-gradient(0deg, black 70%, #232626 100%);
}

#logo img{
  width:33%;
  height: auto;
  padding-left: 35%;
}

.player{
    margin:0;
    width:100%;
    height:500px;
    position:relative;
    display:none;

}

video{
    width:100%;
    height:100%;
    z-index:0;
    position:absolute;
    outline:none;
}

video::cue{
    color: white;
    background:none;

}


p{
    margin: 0.8em 0.8em;
}

.info{
    width:40%;
    height:90%;
    background: linear-gradient(-90deg,rgba(0,0,0,0), rgba(35,5,0,0.6));
    position: absolute;
    opacity:0;
    z-index: 1;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
}

.info:hover{
  opacity:1;
}

.seasons_block{
    float:left;
    margin:0;
    width:35%;
}
.episodes_block{
    float:left;
    margin:0;
    height:50%;
    width:60%;
    padding-left:0.5em;
    border-left: rgba(200,30,30,0.1) solid 3px;
}

ui{
   column-count: 2;
}
li{
    list-style:none;
    width:100%;
    margin:0;
    padding:0.5em 0.5em;
    color:#fafafa;
}

li:hover{
    background: linear-gradient(90deg,rgba(200,150,170,0.3),rgba(0,0,0,0));
}

.selected{
    background: linear-gradient(90deg,rgba(150,20,20,0.5),rgba(0,0,0,0));
}


h3{
    border-bottom: 3px solid #aa0000;
    margin-right:80%;
}

h2{
    width:80%;
    font-size:26px;
    border-bottom: 3px solid #aa0000;
    margin-left: 1%;
}


.Carousel{
  margin:0;
  padding-left:0.5%;
  padding-top:3%;
  width:100%;
  height:400px;
  display: flex;
  overflow-y: hidden;
  scroll-behavior: [ auto | smooth ];
  overflow-x:scroll;
}

.Carousel img{
  height: 80%;
  width: 15%;
  border: 3px solid black;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
}

.Carousel img:hover{
  z-index:5;
  transform: scale(1.3);
}

section:nth-of-type(2){
  margin-top:5%;
}

.Arrow{
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  height: 340.6px;
  width:70px;
  position:absolute;
  margin: 0;
  z-index: 10;
  text-align:center;
  opacity: 0.6;
}

.Arrow:hover{
  opacity:1;
  scroll:
}

.right{
  right:-8px;
  background:linear-gradient(-90deg,black 35%,rgba(0,0,0,0));
}

.left{
  left:-8px;
  background:linear-gradient(90deg,black 35%,rgba(0,0,0,0));
}

a{
  position: relative;
  font-family: 'Nanum Gothic';
  font-size: 5em;
  top:33%;
  opacity: 0.7;
}

.Genre{
  padding-left: 5px;
  font-family:'Archivo Black',Arial;
  font-weight:bold;
}

footer{
    color: rgb(70,70,70);
    margin: 0 42% 0 42%;
    text-align: center;
}
