<% include partials/header%>
                <!---Logo-->
<div id="logo"><img src="img/logo.png"></div>
<%include partials/series%>
<%include partials/movies%>
<script type="text/javascript" src="js/embedded.js"></script>
<script type="text/javascript" src="js/play.js"></script>
<script type="text/javascript" src="js/carousel.js"></script>
<% include partials/footer%>
