<!DOCTYPE html>
<html>
  <% include partials/header%>
  <body>
                <!---Logo-->
                <div id="logo"><img src="img/logo.png"></div>
                <%include partials/series%>
                <%include partials/movies%>
                <script type="text/javascript" src="js/embedded.js"></script>
                <script type="text/javascript" src="js/play.js"></script>
                <script type="text/javascript" src="js/events.js"></script>
</body>
<% include partials/footer%>
</html>
