<!--Block-->
<section class="Block">
  <h3 class="Genre"> <%- id[0].toUpperCase()+id.slice(1) %> </h3>
  <div class="Arrow left"> <a> < </a> </div>
  <div class="Arrow right"> <a> > </a> </div>
  <div id=<%- id %> class="Carousel"></div>
  <% include player %>
</section>
