

<!--Block-->
<section class="Block">
  <h3 class="Genre"> Movies </h3>
  <div id='movies' class="Carousel"></div>
  <div class="player">
    <video controls autoplay>
        <source class='mkv' type="video/mkv">
        <source class='mp4' type="video/mp4">
    </video>
    <div class="info">
        <h2 class='title'></h2>

        <p class='description'></p>

    </div>
  </div>
  
</section>
