<div class="player">
  <video preload="metadata" controls controlsList="nodownload">
      <source class='mp4' src="" type="video/mp4">
      <track class='subs' label="English" kind="subtitles" srclang="en" src="">
      <track class='subs' label="Hebrew" kind="subtitles" srclang="he" src="" default>
  </video>

  <div class="info">
      <h2 class='title'></h2>

      <p class='description'></p>
      <div class='seasons_block'>
          <ul class='seasons'></ul>
      </div>
      <div class='episodes_block'>
      </div>
  </div>
</div>
