*{
  margin:0;
  padding: 0;
  font-family:'Exo 2',Arial;

}
::-webkit-scrollbar {
    display: none;
}

body{
  background-color: black;
  color: white;
}

#logo{
  padding-top: 5%;
  width:100%;
  padding-bottom: 2%;
  background: linear-gradient(0deg, black 70%, #232626 100%);
}

#logo img{
  width:33%;
  height: auto;
  padding-left: 35%;
}

.player{
    margin:0;
    width:100%;
    height:500px;
    position:relative;
    display:none;

}

video{
    width:100%;
    height:100%;
    z-index:0;
    position:absolute;
}

p{
    margin: 0.8em 0.8em;
}

.info{
    width:40%;
    height:92%;
    background: linear-gradient(-90deg,rgba(0,0,0,0), rgba(35,5,0,0.6));
    position:relative;
    opacity:0;
    z-index:1;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
}

.seasons_block{
    float:left;
    margin:0;
    width:35%;
}
.episodes_block{
    float:left;
    column-count: 2;
    margin:0;
    height:50%;
    width:60%;
    padding-left:0.5em;
    border-left: rgba(200,30,30,0.3) solid 3px;
}

li{
    list-style:none;
    width:100%;
    margin:0;
    padding:0.5em 0.5em;
    color:#fafafa;
}

li:hover{
    background: linear-gradient(90deg,rgba(200,150,170,0.3),rgba(0,0,0,0));
}

.selected{
    background: linear-gradient(90deg,rgba(150,20,20,0.5),rgba(0,0,0,0));
}


h3{
    border-bottom: 3px solid #aa0000;
    margin-right:80%;
}

h2{
    width:80%;
    font-size:26px;
    border-bottom: 3px solid #aa0000;
    margin-left: 1%;
}


.Carousel{
  margin:0;
  padding-left:0.5%;
  padding-top:3%;
  width:100%;
  height:320px;
  display: flex;
  overflow-y: hidden;
  overflow-x:scroll;
}

.Carousel img{
  height: 80%;
  width: 200px;
  position: relative;
  border: 3px solid black;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
}

section:nth-of-type(2){
  margin-top:1%;
}

.Genre{
  padding-left: 5px;
  font-family:'Archivo Black',Arial;
  font-weight:bold;
}

footer{
    color: rgb(70,70,70);
    margin: 0 0 0 45%;
}

.hover_img{
 z-index:5;
 transform: scale(1.3);  
}
